@import url('https://fonts.google.com/specimen/Montserrat');
:root {
  /* --backColor: black;
  --fontColor: white;
  --linkHoverColor: orangered;
  --noteColor: red;
  --borderColor: grey;
  --readFontColor: white;
  --unreadFontColor: rgb(66, 120, 219);
  --adminIndicator: rgb(91, 226, 86);
  --highRiskLink: rgb(211, 96, 96); */
  /* Aether */
  --backColor: #101820;
  --fontColor: rgb(250, 91, 255);
  --linkHoverColor: orangered;
  --noteColor: red;
  --borderColor: white;
  --readFontColor: rgb(250, 91, 255);
  --unreadFontColor: rgb(66, 163, 219);
  --adminIndicator: rgb(91, 226, 86);
  --highRiskLink: rgb(211, 96, 96);
  --headerFont: white;
}

* {
  font-family: 'Monstserrat', sans-serif;
  color: var(--fontColor);
}

html {
  background-color: var(--backColor);
  height: 100%;
}

.Border {
  border-color: var(--borderColor);
  border-style: solid;
  border-width: 1px;
}

.BorderInputs {
  background-color: transparent;
  border-radius: 5px;
  border-color: var(--borderColor);
  border-style: solid;
  border-width: 2px;
}

.CenterObjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Notes h3 {
  color: var(--noteColor);
  text-align: center;
  font-size: 0.9em;
}

.Unread {
  color: var(--unreadFontColor)
}

a:hover {
  color: var(--linkHoverColor);
}

a:hover h1 {
  color: var(--linkHoverColor);
}

button:hover {
  color: var(--linkHoverColor);
}

.Container {
  width: 100%;
  min-width: 1000px;
}

.highRiskLink {
  color: var(--highRiskLink);
  text-decoration: none;
}

.highRiskLink:hover {
  color: var(--linkHoverColor);
  text-decoration: none;
}

header {
  padding-bottom: 45px;
  background-color: var(--backColor);
  border-color: var(--borderColor);
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
}

.WhiteHeader {
  color: var(--headerFont);
}

.Actions {
  float: left;
}

.Actions li {
  float: left;
  list-style: none;
}

.Actions li a {
  padding-right: 20px;
  text-decoration: none;
}

.Current {
  color: gray;
}

.Current:hover {
  color: gray;
}

.AccountBanner {
  float: right;
}

.AccountBanner ul li {
  float: left;
  list-style: none;
  position: relative;
}

.AccountBanner ul li a {
  display: block;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 20px;
}

.AccountBanner ul li ul {
  display: none;
  position: absolute;
}

.AccountBanner ul li:hover ul {
  display: block;
  padding-top: 30px;
  padding-bottom: 15px;
  left: -40px;
}

.AccountBanner ul li ul li {
  padding: 0;
  width: 220px;
}

.CreateAccount {
  padding-top: 100px;
  width: 20%;
  margin: auto;
}

.CreateAccount h1 {
  text-align: center;
}

.CreateAccount input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 99%;
}

.CreateAccount button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 100%;
}

.Login {
  padding-top: 100px;
  margin: auto;
  width: 20%;
}

.Login h1 {
  text-align: center;
}

.Login a {
  text-decoration: none;
  font: 1em;
  margin-top: 30px;
  text-align: center;
}

.Login input {
  padding: 10px 0;
  width: 100%;
}

.Login button {
  padding: 10px 0;
  width: 100%;
}

.AccountNameAndID {
  padding-bottom: 50px;
}

/* Recent messages */

.RecentMessages {
  position: absolute;
  width: 20%;
  height: 100%;
  border-right: white solid 1px;
}

.RecentMessages .MessagePrev {
  padding-bottom: 20px;
}

.RecentMessages .MessagePrev a {
  text-decoration: none;
}

.RecentMessages .MessagePrev a p {
  color: var(--readFontColor);
}

.RecentMessages .MessagePrev a .WhiteHeader {
  color: var(--headerFont);
  font-weight: normal;
}

.RecentMessages .MessagePrev a:hover h2 {
  color: var(--linkHoverColor);
}

.RecentMessages .MessagePrev a:hover p {
  color: var(--linkHoverColor);
}

.RecentMessages .MessagePrev .Current h2 {
  color: gray;
}

.RecentMessages .MessagePrev .Current p {
  color: gray;
}

.RecentMessages .MessagePrev .Current:hover h2 {
  color: gray;
}

.RecentMessages .MessagePrev .Current:hover p {
  color: gray;
}

.RecentMessages .MessagePrev h2 {
  font-size: 1.4em;
}

.RecentMessages .MessagePrev p {
  font-size: 0.9em;
}

.RecentMessages .Unread a {
  text-decoration: none;
}

.RecentMessages .Unread a p {
  color: var(--unreadFontColor);
}

.RecentMessages .Unread a h2 {
  color: var(--unreadFontColor);
}

.RecentMessages .Unread .Current h2 {
  color: var(--unreadFontColor);
}

.RecentMessages .Unread .Current p {
  color: var(--unreadFontColor);
}

.RecentMessages .Unread .Current:hover h2 {
  color: var(--linkHoverColor);
}

.RecentMessages .Unread .Current:hover p {
  color: var(--linkHoverColor);
}

.ChatRoom {
  position: fixed;
  width: 79%;
  bottom: 10px;
  left: 21%;
  z-index: -1;
}

.ChatRoom .ChatName {
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: -1;
}

.ChatRoom .Messages {
  z-index: -1;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

.ChatRoom .Message {
  width: 100%;
  padding-bottom: 20px;
}

.ChatRoom .Message p {
  font-size: 1.2em;
  padding-bottom: 1px;
}

.ChatRoom .Message h3 {
  font-size: 0.8em;
}

.ChatRoom .RecievedMessage {
  padding-left: 20px;
  margin-left: 20px;
  float: left;
  border-left: var(--borderColor) 1px solid;
}

.ChatRoom .RecievedMessage h3 {
  text-align: left;
}

.ChatRoom .RecievedMessage p {
  text-align: left;
}

.ChatRoom .SentMessage {
  padding-right: 20px;
  margin-right: 20px;
  float: right;
  border-right: var(--borderColor) 1px solid;
}

.ChatRoom .SentMessage h3 {
  text-align: right;
}

.ChatRoom .SentMessage p {
  text-align: right;
}

.ChatRoom .MessageInput {
  margin: auto;
  width: 100%;
  bottom: 10px;
  padding: 10px 0px;
}

.ChatRoom .MessageInput input {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  font-size: 1em;
  resize: none;
}

.ChatRoom .MessageInput button {
  width: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
}

.SearchContainer {
  padding-top: 50px;
  width: 50%;
  margin: auto;
}

.SearchContainer h1 {
  text-align: center;
}

.SearchBar {
  margin-bottom: 50px;
}

.SearchContainer .SearchBar input {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.SearchContainer .SearchBar button {
  width: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.UserBox {
  width: 50%;
  padding-bottom: 20px;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dotted;
}

.UserBox h2 {
  text-align: center;
  font-style: none;
  font-size: 1.2em;
}

.UserBox a {
  text-decoration: none;
  font-style: none;
  text-align: center;
}

.UserBox a:hover p {
  color: var(--linkHoverColor);
}

.UserBox p {
  text-decoration: none;
  font-style: none;
  text-align: center;
}

.ChatSettings {
  padding-top: 100px;
  width: 40%;
  min-width: 630px;
  margin: auto;
}

.ChatSettings h1 {
  text-align: center;
  padding-bottom: 50px;
}

.ChatSettings input {
  width: 78%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 1em;
}

.ChatSettings button {
  float: right;
  width: 18%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
}

.ChatSettings .ChatMembers {
  padding-top: 30px;
  width: 60%;
  margin: auto;
}

.ChatSettings .ChatMembers h2 {
  text-align: center;
}

.ChatSettings .ChatMembers a {
  float: right;
  padding-left: 30px;
  text-decoration: none;
}

.ChatSettings .AlreadyAdmin {
  color: var(--adminIndicator);
  text-decoration: none;
}

.ChatSettings .AlreadyAdmin:hover {
  color: var(--adminIndicator);
}

.ChatSettings .LeaveChat {
  margin: auto;
  padding-top: 100px;
}